html, body {
    height: 100%;
    background-position: center center;
    background-size: cover;
    background-image: url('../img/space.png');
    font-family: 'Impact', 'Anton', sans-serif;
    padding-top: 1px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#volume-value {
    margin-left: 10px;
}

a {
    text-decoration: none;
}

.content {
    justify-items: center;
}

.text {
    margin-top: 70px;
}

.content h1 {
    font-size: 80px;
    text-transform: uppercase;
    color: #E6E6F2;
    -webkit-text-stroke: 1px #8A7FA5;
    text-shadow:
        0 0 8px rgba(0, 0, 0, 0.8),
        2px 2px 0 #1B152B;
    transform: rotate(-7deg);
}

.play-settings {
    gap: 30px;
}

.play-settings {
    margin-top: 40px;
}

.play-settings a {
    display: block;
    margin-top: 20px;

    font-size: 40px;
    text-align: center;
    text-transform: uppercase;

    color: #D3D6E0;
    -webkit-text-stroke: 1px #1B152B;

    text-shadow:
        0 0 6px rgba(0, 0, 0, 0.8);
}

.play-settings a:hover {
    color: #E6E6F2;
    text-shadow:
        0 0 10px rgba(0,0,0,1),
        4px 4px 0 #2A3850;
}

.settings {
    margin-top: 70px;
    background: rgba(10, 10, 18, 0.75);

    border-top: 2px solid #2A3850;
    border-bottom: 2px solid #2A3850;

    padding: 30px 5vw;
    text-align: center;

    box-shadow: 0 0 15px rgba(0,0,0,0.6);
}

.settings h1 {
    font-size: 70px;
}

.setting-row {
    margin-top: 30px;
    margin-bottom: 25px;
    text-align: left;
    font-size: 18px;
    display: flex;
    color:#D3D6E0;
}

.setting-row label {
    flex: 1;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

input[type="range"] {
    -webkit-appearance: none;
    width: 160px;
    height: 8px;
    background: #2A3850;
    border-radius: 5px;
    outline: none;
    margin-left: 15px;
}

input[type="range"]::-webkit-slider-thumb {
    appearance: none;
    width: 22px;
    height: 22px;
    background: #8A7FA5;
    border: 1px solid #2A3850;
    cursor: pointer;
    border-radius: 4px;
}

select {
    flex: 1;
    background: #1B152B;
    color: #E6E6F2;
    border: 2px solid #2A3850;
    border-radius: 6px;
    padding: 6px 10px;
    font-size: 18px;
    text-transform: uppercase;
    cursor: pointer;
    letter-spacing: 1.5px;
}

#apply-settings, 
#back-button {
    text-transform: uppercase;
    background: #1B152B;
    color: #E6E6F2;
    border: 2px solid #2A3850;
    -webkit-text-stroke: 1px #ffffff;
    padding: 10px 20px;
    font-size: 22px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px; 
    width: 100%;
}

.setting-row input {
    margin-top: 5px;
}

#difficulty {
    margin-top: -5px;
    border: none;
}

#apply-settings:hover {
    color: #E6E6F2;
    text-shadow:
        0 0 10px rgba(0,0,0,0.8),
        2px 2px 0 #2A3850;
}